<!DOCTYPE html>
<html lang="en">
	<head>

		<!-- Bootstrap -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	     <!-- Add Font Awesome -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	    <!-- Add unique stylesheet -->
	    <link rel="stylesheet" href="/static/css/stop_thief_style.css" type="text/css" />
	     <link rel="stylesheet" href="/static/css/gameboard.css" type="text/css" />

	    <!-- Add Google Web Fonts -->
	    <link href="https://fonts.googleapis.com/css?family=Bitter:400,400i,700|Libre+Franklin:300,400,500,600,700" rel="stylesheet">

	    <!-- Add jQuery -->
	    <script src="https://code.jquery.com/jquery.js"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	    <!-- Add custom javascript -->
	    <script src="/static/js/login.js"></script>
	    <script src="/static/js/player.js"></script>
	    <script src="/static/js/thief.js"></script>
	     <script src="/static/js/game.js"></script>
	    
	    <script 
    src="https://code.jquery.com/jquery-3.1.0.js"   
    integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk="   
    crossorigin="anonymous">    
    </script>
        <script src="/static/js/jquery.kinetic.js" type="text/javascript" charset="utf-8"></script>

	    <script>
		  $( function() {
		    $( document ).tooltip();
		  } );
		</script>

		<title>Stop Thief!</title>
	</head>

	<body>

	<header class="header">
	<p>Logo</p>

	</header>
		<div class="container home">      
	        <div id="gameboard">
	            <div id="wrapper">
	                <div id="inner" class="inner_gameboard">
	                    
	                </div>
	            </div>
	            <div id="controls">
	                <span id="left">LEFT</span> |
	                <span id="right">RIGHT</span> |
	                 <span id="up">UP</span> |
	                <span id="down">DOWN</span>
	            </div>  	
	        </div>


	    
        	<div id="controlboard">




        	</div>



	    </div>

 <script type="text/javascript" charset="utf-8">
                $('#wrapper').kinetic();

                $('#left').click(function(){
                    $('#wrapper').kinetic('start', { velocity: -10 });
                });
                $('#right').click(function(){
                    $('#wrapper').kinetic('start', { velocity: 10 });
                });
                 $('#up').click(function(){
                    $('#wrapper').kinetic('start', { velocityY: -10 });
                });
                $('#down').click(function(){
                    $('#wrapper').kinetic('start', { velocityY: 10 });
                });


                $('#end').click(function(){
                    $('#wrapper').kinetic('end');
                });
                $('#stop').click(function(){
                    $('#wrapper').kinetic('stop');
                });
                $('#detach').click(function(){
                    $('#wrapper').kinetic('detach');
                });
                $('#attach').click(function(){
                    $('#wrapper').kinetic('attach');
                });

                $('#wrapper').kinetic({
                    filterTarget: function(target, e){
                        if (!/down|start/.test(e.type)){
                            return !(/area|a|input/i.test(target.tagName));
                        }
                    }
                });

            </script>
	    <footer class="footer">
	    	<div align="center" id="credits">
	    	
	        <p>&copy; 2017  <strong><a href="https://www.linkedin.com/in/ideabrothers">Andrew Carr</a></strong> | 
	        Demo project for <a href="https://www.codingbootcamputaustin.com/">The Coding Boot Camp</a>  at UT Austin Center for Professional Education
 			| 
	        <a href="https://github.com/carrat/stop-thief"  target="_blank">GitHub Repo</a>
	        </p>
	        </div>
	    </footer>	


	    <script>
// If page is ready
$(document).ready(function(){

	function buildGameboard() {

		var counter = 0;

		for (i=1; i<=38; i++) {
			$(".inner_gameboard").append("<div class='gameboard_row' id='row" + i + "'</div></div>");

			for (j=1; j<=38; j++) {
				counter++;
				var newDiv = document.createElement("div");
	    		$(newDiv).attr("class", "tile");
	    		$(newDiv).attr("onmouseover", "$(this).css('background-color','red')")
	    		$(newDiv).attr("onmouseout", "$(this).css('background-color','#ababab')")
	    		$(newDiv).attr("id", counter);
	    		$(newDiv).text(counter);
	    		$("#row" + i).append(newDiv);

	    		
			}
		}

		

	}


buildGameboard();


});



	</script>
	</body>
</HTML>
