<!DOCTYPE html>
<html lang="en">
	<head>

		<!-- Bootstrap -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	    <!-- Add materialize stylesheet -->
    	<link href="/static/css/materialize.css" rel="stylesheet" type="text/css" media="screen,projection">
    	<!--load Materialize javascript - lets Materialize framework work-->
    	<script src="/static/js/materialize.js"></script>
	     <!-- Add Font Awesome -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	    <!-- Add unique stylesheet -->
	    <link rel="stylesheet" href="/static/css/stop_thief_style.css" type="text/css" />
	     <link rel="stylesheet" href="/static/css/gameboard.css" type="text/css" />

	    <!-- Add Google Web Fonts -->
	    <link href="https://fonts.googleapis.com/css?family=Bitter:400,400i,700|Libre+Franklin:300,400,500,600,700" rel="stylesheet">

	    <!-- Add jQuery -->
	    <script src="https://code.jquery.com/jquery.js"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	    <!-- Add custom javascript -->
	    <script src="/static/js/login.js"></script>
	    <script src="/static/js/player.js"></script>
	    <script src="/static/js/thief.js"></script>
	     <script src="/static/js/game.js"></script>
	    
	    <script 
    src="https://code.jquery.com/jquery-3.1.0.js"   
    integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk="   
    crossorigin="anonymous">    
    </script>
        <script src="/static/js/jquery.kinetic.js" type="text/javascript" charset="utf-8"></script>

	    <script>
		  $( function() {
		    $( document ).tooltip();
		  } );
		</script>

		<title>Stop Thief!</title>
	</head>

	<body>

	<header class="header">
		<div class="row" id="header-bar">
			<div class="col-sm-8 text-left"><a href="/"><img src="/static/images/stop-thief-logo.png" alt="Stop Thief" class="st-logo" width="100px"></a></div>
			<div class="col-sm-2"><button type="button" class="saveGameButton">Save Game</button></div>
			<div class="col-sm-2"><h4><span style="color: gray">Welcome,</span> sherlock</h4></div>
		</div>
	</header>
		<div class="container">      
	        <div id="gameboard">
	            <div id="wrapper">
	                <div id="inner" class="inner_gameboard">
	                {{{ body }}}
	                    
	                </div>
	            </div>
	           <!-- <div id="controls">
	                <span id="left">LEFT</span> |
	                <span id="right">RIGHT</span> |
	                 <span id="up">UP</span> |
	                <span id="down">DOWN</span>
	            </div>  
	           -->	
	        </div>


	    	<div id="controlboard">

        		<div class="row">
        			<div class="col-sm-2 control">
        				<div class="control_title">Thief</div>
        				<img src="/static/images/thiefs/10.png" alt="Thief"  class="thief_card">
        			</div>
        			<div class="col-sm-4 control">
        				<div class="control_title">Crime Scanner</div>
        				<div class="clue_history">Running on Street</div>
        				<div class="clue_history">Running on Street</div>
        				<div class="clue_history">Furs Building - Window Breaking!</div>
        				<div class="clue_history"><span class="crime_text">CRIME!</span> Furs Building</div>
        			</div>
        			<div class="col-sm-2 control"><div class="control_title">Sleuth Cards</div>
        				<button type="button" class="sleuthCardButton">Go Extra 5 Spaces</button>
        				<button type="button" class="sleuthCardButton">Return to ACME Detective Agency</button>
        			</div>
        			<div class="col-sm-2 control">
        				<div class="control_title">Your Detective</div>
        				<img src="/static/images/detectives/6.png" alt="Detective" width="90%" class="detective_card">
						<div class="control_title">Bank</div>
		        		<h3 class="bankMoney">$300</h3>
		        	</div>
        			<div class="col-sm-2 control">
        				<div class="control_title">Turn Actions</div>
        				<img src="/static/images/dice/4.png" alt="4"  class="die"><img src="/static/images/dice/6.png" alt="6"  class="die">
        				<button type="button" class="rollDiceButton">Roll Dice</button>
        				<button type="button" class="arrestButton">Make Arrest</button>
        				<button type="button" class="endTurnButton">End Turn</button>
        			</div>

        		</div>

        	</div>



	    </div>

 <script type="text/javascript" charset="utf-8">
                $('#wrapper').kinetic();

                $('#left').click(function(){
                    $('#wrapper').kinetic('start', { velocity: -10 });
                });
                $('#right').click(function(){
                    $('#wrapper').kinetic('start', { velocity: 10 });
                });
                 $('#up').click(function(){
                    $('#wrapper').kinetic('start', { velocityY: -10 });
                });
                $('#down').click(function(){
                    $('#wrapper').kinetic('start', { velocityY: 10 });
                });


                $('#end').click(function(){
                    $('#wrapper').kinetic('end');
                });
                $('#stop').click(function(){
                    $('#wrapper').kinetic('stop');
                });
                $('#detach').click(function(){
                    $('#wrapper').kinetic('detach');
                });
                $('#attach').click(function(){
                    $('#wrapper').kinetic('attach');
                });

                $('#wrapper').kinetic({
                    filterTarget: function(target, e){
                        if (!/down|start/.test(e.type)){
                            return !(/area|a|input/i.test(target.tagName));
                        }
                    }
                });

            </script>
	    <footer class="footer">
	    	<div align="center" id="credits">
	    	
	        <p>&copy; 2017  <strong><a href="https://www.linkedin.com/in/ideabrothers">Andrew Carr</a></strong> | 
	        Demo project for <a href="https://www.codingbootcamputaustin.com/">The Coding Boot Camp</a>  at UT Austin Center for Professional Education
 			| 
	        <a href="https://github.com/carrat/stop-thief"  target="_blank">GitHub Repo</a>
	        </p>
	        </div>
	    </footer>	


	    <script>
// If page is ready
$(document).ready(function(){

	FocusOnInput();

	function FocusOnInput() {

		    $('#209').focus();
	}


	$(".tile").hover(
		  function() {
		    $(this).css("opacity", ".4");
		  }, function() {
		    $(this).css("opacity", "1");
		  }
	);
	
});



	</script>
	</body>
</HTML>
