<!DOCTYPE html>
<html lang="en">
	<head>

		<!-- Bootstrap -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	     <!-- Add Font Awesome -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	    <!-- Add unique stylesheet -->
	    <link rel="stylesheet" href="/static/css/stop_thief_style.css" type="text/css" />

	    <!-- Add Google Web Fonts -->
	    <link href="https://fonts.googleapis.com/css?family=Bitter:400,400i,700|Libre+Franklin:300,400,500,600,700" rel="stylesheet">
	    <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow:400,400i,700,700i" rel="stylesheet">
	   <link href="https://fonts.googleapis.com/css?family=Archivo+Black|News+Cycle:400,700|Oswald:300,400,700" rel="stylesheet">

	    <!-- Add jQuery -->
	    <script src="https://code.jquery.com/jquery.js"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	    <!-- Add custom javascript -->
	    <script src="/static/js/login.js"></script>
	    <script src="/static/js/player.js"></script>
	    <script src="/static/js/thief.js"></script>

		<title>Stop Thief!</title>
	</head>

	<body>
		<div class="container home">      
	        <div class="jumbotron">
	        	<div class="row">
	        		<div class="col-sm-6">
		         		<img src="/static/images/stop-thief-logo-2.png" alt="Stop Thief!" width="400px">
		         	</div>

		         	<div class="col-sm-6 text-right">
		         		<!--<button class="play-button" type="button" onclick="window.location.href='/games'">Play Game!</button>-->
		         	</div>
		         </div>
	        </div>

 	        <div class="row" id="loginFrame">
	        	<div class="col-sm-6 loginBox">
		        	<h2>Login</h2>
	     			<p>
					<form action="/users/login">
					<div class="row">
						<div class="col-sm-6">
							<label for="username">Username</label>
							<input type="text" name="username" id="username">
						</div>
						<div class="col-sm-6">
							<label for="password">Password</label>
							<input type="password" name="password" id="password">
						</div>

						<div class="col-sm-4"></div>

					</div>
					<div class="row">
						<div class="col-sm-12">
							<input type="submit" name="login" value="Login" class="accountButton">
						</div>

					</div>
					</form>
					</p>
				</div>

				<div class="col-sm-6 loginBox">
		        	<h2>Create Account</h2>
	     			<p>
					<form action="/users/create">
					<div class="row">
						<div class="col-sm-12">
							<label for="email">Email Address</label>
							<input type="email" name="email" id="email">
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<label for="username">Username</label>
							<input type="text" name="username" id="username">
						</div>
						<div class="col-sm-6">
							<label for="password">Password</label>
							<input type="password" name="password" id="password">
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<input type="submit" name="createAccount" value="Create Account"  class="accountButton">
						</div>

					</div>
					</form>
					</p>		
				</div>	
	        	
	   	    </div>
	   	</div>


	    <footer class="footer">
	    	<div align="center" id="credits">
	    	
	        <p>&copy; 2017  <strong><a href="https://www.linkedin.com/in/ideabrothers">Andrew Carr</a></strong> | 
	        Demo project for <a href="https://www.codingbootcamputaustin.com/">The Coding Boot Camp</a>  at UT Austin Center for Professional Education
 			| 
	        <a href="https://github.com/carrat/stop-thief"  target="_blank">GitHub Repo</a>
	        </p>
	        </div>
	    </footer>	
	</body>
</HTML>
