
<!-- this is games/index.handlebars -->


    {{#each data.detectives.detectivesObject}}
    
    	<div class="detectiveCardDiv" id="{{this.dataValues.id}}" data-image="/static/images/detectives/{{this.dataValues.id}}.png">
    		<h5 class="detectiveName">{{this.dataValues.detective_name}}</h5></br><img src="/static/images/detectives/{{this.dataValues.id}}.png" class="detectiveCard" width="200px">
    	</div>
    {{/each}}
